.change-password-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Выравнивает карточку по верху, а не по центру */
    height: 100vh; /* Использование 100vh для заполнения всего экрана */
    width: 100%;
    background-color: #ffffff;
    /* padding-top: 50px; */ /* Отступ сверху, чтобы карточка не прилипала */
    padding: 25px 16px; /* отступ сверху и по бокам */
    overflow-y: auto; /* позволит скроллить, если не влезает */

}

.change-password-card {
    max-width: 500px;
    width: 100%;
    padding: 24px;
    text-align: left; /* Исправлено: выравнивает текст по левому краю */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.change-password-card .ant-typography {
    text-align: left;
    margin-bottom: 20px;
}

.change-password-form .ant-form-item {
    text-align: left;
}


.card-title {
  margin-bottom: 12px;
  margin-top: 0px; /* убираем верхний отступ */
}