/* ProductBarcodeSearch.module.css */

/* Контейнер для элементов (Select и Input) */
.searchContainer {
  display: flex !important;
  align-items: center;
  gap: 10px;
  width: 100% !important; /* Контейнер обязан быть на всю ширину */
}

/* .selectInput {
  flex: 1 1 auto !important; 
  min-width: 0; 
}

.barcodeInput {
  width: 200px !important; 
  flex: 0 0 auto !important; 
} */

/* Наименование: забирает всё оставшееся пространство */
.selectInput {
  flex: 1 !important; 
  min-width: 100px;
}

/* Штрих-код: золотая середина */
.barcodeInput {
  width: 208px !important; /* Попробуйте это значение */
  flex: 0 0 208px !important;
}

#barcode-reader {
    width: 100% !important;
    min-height: 250px;
    background: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}

#barcode-reader video {
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
}
