.reportTitle {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

/* Стили для меток (div) над фильтрами */
.filterLabel {
  margin-bottom: 4px; /* Небольшой отступ от поля */
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85); /* Стандартный цвет текста */
}

/* Полная ширина для Select и кнопок */
.fullWidthControl {
  width: 100%;
}

.searchButton {
  width: 100%;
}

.exportButton {
  width: 100%;
}

/* Отступ для таблицы */
.reportTable {
  margin-top: 16px;
}

/* Сброс padding для кнопки PlayCircle, чтобы она прижималась к краю ячейки */
.playButton {
  padding: 0;
}


.modalHeader {
  /* Соответствует style={{ marginBottom: 20 }} */
  margin-bottom: 20px;
}


.modalFooter {
  /* Соответствует style={{ marginTop: 20, textAlign: "right" }} */
  margin-top: 20px;
  text-align: right;
}